{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block body %}

<div class="container mt-30">
    <section class="about-us">
        <div class="about">
          <img src="https://images.unsplash.com/photo-1499750310107-5fef28a66643?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="pic">
          <div class="text">
            <h2>About Us</h2>
            <h5>Front-end Developer & <span>Designer</span></h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
            <div class="data">
            <a href="#" class="hire">Hire Me</a>
            </div>
          </div>
        </div>
      </section>
</div>
  <!-- ======================================== 
          work completed counter section Start  
    ========================================  -->
<div class="counter mt-3">

    <section class="section-work-data section ">
      <div class="container grid grid-four-col " id="work_counter">
        <div>
          <h2 data-number="2000" class="counter-numbers">0</h2>
          <p>project completed</p>
        </div>
        <div>
          <h2 data-number="6000" class="counter-numbers">0+</h2>
          <p>Happy clients</p>
        </div>
        <div>
          <h2 data-number="5000" class="counter-numbers">0+</h2>
          <p>cups of coffee</p>
        </div>
        <div>
          <h2 data-number="3000" class="counter-numbers">0+</h2>
          <p>real professionals</p>
        </div>
      </div>
    </section>
  </div>
{% endblock body %}

