@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --Playfair: 'Playfair Display', serif;
  --Quicksand: 'Quicksand', sans-serif;
  --Roboto: 'Roboto', sans-serif;
  --dark: #3c393d;
  --exDark: #2b2b2b;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--Quicksand);
}

body {
  line-height: 1.4;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

/* header */
header {
  min-height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://source.unsplash.com/600x400/?nature) center/cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.navbar-nav {
  padding: 0.8rem 0 0.2rem 0;
  text-align: center;
}

.navbar-nav a {
  text-transform: uppercase;
  font-family: var(--Roboto);
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0.4rem 0.1rem;
  letter-spacing: 3px;
  transition: opacity 0.5s ease;
}

.navbar-nav a:hover {
  opacity: 0.7;
}

.banner {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.banner-title {
  font-size: 3rem;
  font-family: var(--Playfair);
  line-height: 1.2;
}

.banner-title span {
  font-family: var(--Playfair);
  color: var(--exDark);
}

.banner p {
  padding: 1rem 0 2rem 0;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: var(--Roboto);
  font-weight: 300;
  word-spacing: 2px;
}

.banner form {
  background: #fff;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
}

/* .search-input{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
} */
/* design */
.design {
  padding: 4.5rem 0;
}

.title {
  text-align: center;
  padding: 1rem 0;
}

.title h2 {
  font-family: var(--Playfair);
  font-size: 2.4rem;
}

.title p {
  text-transform: uppercase;
  padding: 0.6rem 0;
}

.design-content {
  margin: 5rem 0;
}

.design-item {
  cursor: pointer;
  margin: 30px;
}

.design-img {
  position: relative;
  overflow: hidden;
}

.design-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.design-img img {
  transition: all 0.5s ease;
}

.design-item:hover img {
  transform: scale(1.2);
}

.design-img span:first-of-type {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  background: var(--exDark);
  color: #fff;
  padding: 0.25rem 1rem;
}

.design-img span:last-of-type {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}

.design-title {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.design-title a {
  color: var(--dark);
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--Playfair);
}

/* blog */
.blog {
  padding: 0.5rem 0;
}

.blog-content {
  margin: 2rem 0;


}

.blog-img {
  position: relative;
}

.blog-img span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: var(--exDark);
  color: #fff;
  font-size: 1.4rem;
  padding: 0.3rem 0.6rem;
}

.blog-text {
  margin: 2.2rem 0;
  padding: 0 1rem;
}

.blog-text span {
  font-weight: 300;
  display: block;
  padding-bottom: 0.5rem;
}

.blog-text h2 {
  font-family: var(--Playfair);
  /* padding: 1rem 0; */
  font-size: 1.65rem;
  font-weight: 500;
}

.blog-text p {
  font-weight: 300;
  font-size: 1.1rem;
  opacity: 0.9;
  padding-bottom: 0.2rem;
}

.blog-text a {
  font-family: var(--Roboto);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--dark);
  display: inline-block;
  background: var(--dark);
  color: #fff;
  padding: 0.55rem 1.2rem;
  transition: all 0.5s ease;
}

.blog-text a:hover {
  background: var(--exDark);
}

/* about */
.about {
  padding: 4.5rem 0;
}

.about-text {
  margin: 2rem 0;
}

.about-text>p {
  font-size: 1.1rem;
  padding: 0.6rem 0;
  opacity: 0.8;
}



/* Media Queries */
@media screen and (min-width: 540px) {
  .navbar-nav a {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }

  .banner-title {
    font-size: 5rem;
  }

  .banner form {
    margin-top: 1.4rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-input {
    padding: 0.8rem 0;
  }

  .design-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .design-item {
    margin: 0;
  }

  .blog-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .blog-content {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .design-content {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 1200px) {
  .card-list .card-item {
    padding: 15px;
  }
}

@media screen and (max-width: 980px) {
  .card-list {
    margin: 0 auto;
  }
}

/* ===========================================
work data Section
======================================= */
#work_counter {
  display: flex;
  justify-content: space-between;
}

.section-work-data {
  background: -webkit-linear-gradient(0deg, rgba(248, 168, 248, 0.941)0%, rgba(212, 202, 212, 0.297) 100%);

  color: var(--third);
  text-align: center;
}

.common-numbers {
  font-size: 4.8rem;
}

.section-work-data p {
  color: var(--third);
}





/* ===========================================
freelancer  Section
======================================= */

.section-freelancer {
  background-image: url(https://images.unsplash.com/photo-1699446431892-67959b9b93ec?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  position: relative;
  background-attachment: fixed;
}

.section-freelancer .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8fcf988;
  opacity: 0.7;
}

.section-freelancer .container {
  position: relative;
}

.section-freelancer h2 {
  font-size: 4.4rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-freelancer h2 span {
  color: #a0f669;
}

.section-freelancer h2,
.section-freelancer p {
  color: var(--third);
  margin-bottom: 1.8rem;
}



/* footer section  */
/* footer */
footer{
  /* background: var(--exDark); */
  background-color: rgb(37, 53, 37);
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}
.social-links{
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}
.social-links a{
  border: 2px solid #fff;
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  margin: 0 0.3rem;
  transition: all 0.5s ease;
}

.social-links a:hover{
  background: #fff;
  color: var(--exDark);
}
.footer span{
  margin-top: 1rem;
  display: block;
  font-family: var(--Playfair);
  letter-spacing: 2px;
}
